* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #f9f9f9;
  text-decoration: inherit;
  border: solid 1px #f9f9f9;
  border-radius: 10px;
  padding: 5px;
}

a:hover {
  color: gray;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f7e7e7;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #242424;
}

button:hover {
  border-color: #f7e7e7;
  background-color: #242424;
  color: #f7e7e7;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  cursor: none;
  pointer-events: none;
  opacity: .5;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  margin: 20px 0;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  display: inline-block;
  margin: 5px;
}

.box {
  padding: 1rem;
  box-shadow: 0 0 1rem #ffffff25 inset;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.mx-1 {
  margin: 10px 0;
}

.product-card {
  border: solid 1px #fff;
  padding: 1rem;
}

.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-bottom: thin solid gray;
  padding: 10px 0;
}

.my-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
